<!DOCTYPE html>

<html>

<head>

  <title>Wordcloud Generator</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/style.css">

</head>

<body>

  <div id="container">

  <img src="data:image/png;base64,{{img_b64}}" alt="The generated wordcloud">

  <p>To download the Wordcloud, right click on it, then "Save Image As"</p>
  <p>
    <a href="#" title="Reload" onclick="location.reload ()">Reload</a>
    -
    <a href="/" title="Back to the home page">Back</a>
  </p>

  </div>

</body>

</html>
