<!DOCTYPE html>

<html>

<head>

  <title>WordCloud Generator</title>
  <meta charset="utf-8">
  <meta name="description" content="A simple word cloud generator">
  <meta nanme="author" content="Marco Lardera">

  <link rel="stylesheet" href="static/style.css">

</head>

<body>

  <div id="container">

  <img src="data:image/png;base64,{{img_b64}}" alt="The generated wordcloud">

  <p>To download the Wordcloud, right click on it, then "Save Image As"</p>
  <p>Reloading this page will generate a different wordcloud with the same configuration parameters</p>
  <p>
    <a href="#" title="Reload" onclick="location.reload ()" title="Reload button">Reload</a>
    -
    <a href="/" title="Back to the home page" title="Back to home button">Back</a>
  </p>

  </div>

</body>

</html>
