<!DOCTYPE html>

<html>

<head>

  <title>WordCloud Generator</title>
  <meta charset="utf-8">
  <meta name="description" content="A simple word cloud generator">
  <meta nanme="author" content="Marco Lardera">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</head>

<body>

  <img src="static/logo.png" alt="Logo">

  <nav>
    <button id="btn-gen-freq" class="tab-btn-active" onclick="activate_gen_freq ()">Generate from frequencies</button>
    <button id="btn-gen-text" class="tab-btn-inactive" onclick="activate_gen_text ()">Generate from text</button>
  </nav>

  <div id="tab-gen-freq" class="tab-active">
  <form action="/generate/frequencies" method="post">

    <fieldset>
    <legend><strong>Data</strong></legend>
    <div id="word-section">
      <div class="data-row">
        <label>Word <input type="text" name="word" placeholder="Insert here a word" required></label>
        <label>Frequency <input type="number" name="frequency" placeholder="Insert here a frequency" min="1" required></label>
        <a href="#" title="Delete this row" class="delete-button" onclick="if (document.getElementsByClassName('data-row').length > 1) this.parentNode.remove ()">Delete</a>
      </div>
    </div>
    <br><input type="button" value="Add word" onclick="clone_row()"> (Or press "+" on your keyboard)
    </fieldset>

    <fieldset>
    <legend><strong>Basic configuration</strong></legend>
    <div class="form-row">
      <label for="width">Width (Max {{max_width}} pixel)</label>
      <input type="number" name="width" id="width" value="800" min="1" max="{{max_width}}">
    </div>
    <div class="form-row">
      <label for="height">Height (Max {{max_height}} pixel)</label>
      <input type="number" name="height" id="height" value="600" min="1" max="{{max_height}}">
    </div>
    <div class="form-row">
      <label for="bgcolor">Background color</label>
      <input type="color" name="bgcolor" id="bgcolor">
    </div>
    <div class="form-row">
      <label for="colormap">Color map</label>
      <select name="colormap" id="colormap">
        {% for map in colormap_list %}
        <option value="{{map}}">{{map}}</option>
        {% endfor %}
      </select>
      <a href="javascript:void(0);" class="colormap-link" onclick="show_accordion('colormaps-1')" title="Show/hide available color maps">Show/hide available color maps</a>
    </div>

    <div id="colormaps-1">
      <img src="static/colormap1.webp" alt="Colormap part 1"><br>
      <img src="static/colormap2.webp" alt="Colormap part 2"><br>
      <img src="static/colormap3.webp" alt="Colormap part 3"><br>
      <img src="static/colormap4.webp" alt="Colormap part 4"><br>
      <img src="static/colormap5.webp" alt="Colormap part 5"><br>
      <img src="static/colormap6.webp" alt="Colormap part 6"><br>
      <img src="static/colormap7.webp" alt="Colormap part 7">
    </div>

    </fieldset>

    <fieldset>
    <legend><strong>Advanced configuration</strong></legend>
    <div class="form-row">
      <label for="monocolor_enabled">Mono color (this overwrites the colormap selection)</label>
      <input type="checkbox" name="monocolor_enabled" id="monocolor_enabled">
      <input type="color" name="monocolor">
    </div>
    <div class="form-row">
      <label for="prefer_horizontal">Horizontal preference</label>
      <input type="number" name="prefer_horizontal" id="prefer_horizontal" value="0.90" min="0" max="1" step="0.01">
    </div>
    <div class="form-row">
      <label for="relative_scaling">Relative scaling</label>
      <input type="number" name="relative_scaling" id="relative_scaling" value="0.50" min="0" max="1" step="0.01">
    </div>
    <a href="javascript:void(0);" onclick="show_accordion('help-1')" title="Show/hide help">Show/hide help</a>
    <div id="help-1">
      <h5>Horizontal preference</h5>
      <p class="help-text">The ratio of times that the algorithm tries to fit the words horizontal instead of vertical. If set to "1" vertical words will not be generated.</p>
      <h5>Relative scaling</h5>
      <p class="help-text">
        If this parameter is set to "1", font size of the words will be directly proportional to the frequencies.
        If set to "0", only word ranking will be relevant for determining the font size.
        Setting relative scaling somewhere in the middle between 0 and 1 will produce the best results from an aesthetic point of view.
      </p>
    </div>

    </fieldset>

    <input type="reset" value="Reset">
    <input type="submit" value="Generate">

  </form>
  </div>

  <div id="tab-gen-text" class="tab-inactive">
  <form action="/generate/text" method="post">

    <fieldset>
    <legend><strong>Data</strong></legend>
    <label for="input-text">Text</label>
    <textarea name="input_text" id="input_text" placeholder="Insert here the input text" required></textarea>
    <label for="stopwords">Stopwords (optional)</label>
    <textarea name="stopwords" id="stopwords" placeholder="Insert here a list of stopwords - one per line"></textarea>
    </fieldset>

    <fieldset>
    <legend><strong>Basic configuration</strong></legend>
    <div class="form-row">
      <label for="width">Width (Max {{max_width}} pixel)</label>
      <input type="number" name="width" id="width" value="800" min="1" max="{{max_width}}">
    </div>
    <div class="form-row">
      <label for="height">Height (Max {{max_height}} pixel)</label>
      <input type="number" name="height" id="height" value="600" min="1" max="{{max_height}}">
    </div>
    <div class="form-row">
      <label for="max_words">Maximum number of words</label>
      <input type="number" name="max_words" id="max_words" value="200" min="1">
    </div>
    <div class="form-row">
      <label for="bgcolor">Background color</label>
      <input type="color" name="bgcolor" id="bgcolor">
    </div>
    <div class="form-row">
      <label for="colormap">Color map</label>
      <select name="colormap" id="colormap">
        {% for map in colormap_list %}
        <option value="{{map}}">{{map}}</option>
        {% endfor %}
      </select>
      <a href="javascript:void(0);" class="colormap-link" onclick="show_accordion('colormaps-2')" title="Show/hide available color maps">Show/hide available color maps</a>
    </div>

    <div id="colormaps-2">
      <img src="static/colormap1.webp" alt="Colormap part 1"><br>
      <img src="static/colormap2.webp" alt="Colormap part 2"><br>
      <img src="static/colormap3.webp" alt="Colormap part 3"><br>
      <img src="static/colormap4.webp" alt="Colormap part 4"><br>
      <img src="static/colormap5.webp" alt="Colormap part 5"><br>
      <img src="static/colormap6.webp" alt="Colormap part 6"><br>
      <img src="static/colormap7.webp" alt="Colormap part 7">
    </div>

    </fieldset>

    <fieldset>
    <legend><strong>Advanced configuration</strong></legend>
    <div class="form-row">
      <label for="monocolor_enabled">Mono color (this overwrites the colormap selection)</label>
      <input type="checkbox" name="monocolor_enabled" id="monocolor_enabled">
      <input type="color" name="monocolor">
    </div>
    <div class="form-row">
      <label for="prefer_horizontal">Horizontal preference</label>
      <input type="number" name="prefer_horizontal" id="prefer_horizontal" value="0.90" min="0" max="1" step="0.01">
    </div>
    <div class="form-row">
      <label for="relative_scaling">Relative scaling</label>
      <input type="number" name="relative_scaling" id="relative_scaling" value="0.50" min="0" max="1" step="0.01">
    </div>
    <a href="javascript:void(0);" onclick="show_accordion('help-2')" title="Show/hide help">Show/hide help</a>
    <div id="help-2">
      <h5>Horizontal preference</h5>
      <p class="help-text">The ratio of times that the algorithm tries to fit the words horizontal instead of vertical. If set to "1" vertical words will not be generated.</p>
      <h5>Relative scaling</h5>
      <p class="help-text">
        If this parameter is set to "1", font size of the words will be directly proportional to the frequencies.
        If set to "0", only word ranking will be relevant for determining the font size.
        Setting relative scaling somewhere in the middle between 0 and 1 will produce the best results from an aesthetic point of view.
      </p>
    </div>
    </fieldset>

    <input type="reset" value="Reset">
    <input type="submit" value="Generate">

  </form>
  </div>

  <hr>
  <p>This tool - made by <a href="mailto:larderamarco@hotmail.com" title="Email link">Marco Lardera</a> - is a graphical front-end of the <a href="https://amueller.github.io/word_cloud/">Wordcloud Python package</a></p>
  <p><a href="https://github.com/marcolardera/wordcloud" title="Github link">Link to Github</a></p>

</body>

</html>
